body{
 text-align: justify;
}

p{
 font-size: 18px;
 font-family: Times New Roman,serif;
 margin-right: 50px;
}

h1{
 font-family: Times New Roman,serif;
 color: black;
 text-align: center;
 margin-top: 10;
}

img{
 float: center;
 margin-top: 10px;
 padding-right: 10px;
 margin-right: 60px;
}

.encabezado{
 border-bottom: solid white 1px;
 box-shadow: 2px 2px 10px #666; 
 margin-top: -25px;
 margin-right: -8px;
 margin-left: -15px;
 padding-top: 5px;
}

nav{
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 10px;
 margin-left: 25px;
}

.flecha{
position: fixed;
}

#logo{
 float: right;
 margin-top: 10px;
 padding-right: 10px;
 padding-left: 10px;
}

.pie{
 background-color: #e6e8ee;
 border-top: solid white 1px;
 box shadow: 10px 2px 2px #666;
 margin-right: -8px;
 margin-left: -8px;
 padding-left: 10px;
 padding-top: -5px;
 margin-bottom: -5px;
}
