body{
 text-align: justify;
}
p{
 font-size: 18px;
 font-family: Times New Roman,serif;
 margin-right: 50px;
}
h1{
 font-family: Times New Roman,serif;
 color: black;
 text-align: center;
 
}
img{
 float: right;
}
nav{
 background-color: black;
 margin-right: 500px;
}
