body{ 
  text-align: center;
  background-image: url("MoiRuz.github.io/imagenes/colorfondo.png");
  
}
h1{
  color: black;
  text-align: center;
  margin: 0px;
  margin-bottom: 25px;
  font-size: 35px;
  
}
img{
 float: center; 
}
a:link{
 font-size: 16px;
 color: black;
}
a:visited{
 color: yellow; 
}
a:hover{
 color: red;
 font-size: 20px;
}
footer{
 background-color: black;
 color: white;
 margin-top: 275px;
}
