body{ 
  background-image: url("imagenes/colorfondo.png");
}
h1{
  color: black;
  text-align: center;
  margin: 0px;
  margin-bottom: 25px;
  font-size: 35px;
}
img{
 float: center; 
}
a:link{
 font-size: 16px;
 color: black;
}
a:visited{
 color: yellow; 
}
a:hover{
 color: red;
 font-size: 20px;
}
.izq{
 text-align: left;
 margin: 500px;
}
.der{
 float: right; 
}
