p.primero{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p.segundo{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p.tercero{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}