.primero:hover{
    display: block;
    width: 250px;
    -webkit-filter: grayscale(75%);
    -o-filter: grayscale(75%);
    -moz-filter: grayscale(75%);
    filter: grayscale(75%);
    animation: myAnimation 2s ease 1s 3 alternate forwards;
}
@keyframes myAnimation{
    100%{
        transform: rotate(360deg);
    }
}
.segundo{
    display: inline-flex;
    width: 1000px;
    filter: hue-rotate(100deg);
    -webkit-filter: hue-rotate(100deg);
    -o-filter: hue-rotate(100deg);
    -moz-filter: hue-rotate(100deg);
}
.tercero{
    display: inline-block;
    width: 1000px;
    filter: invert(20%);
    -webkit-filter: invert(20%);
    -o-filter: invert(20%);
    -moz-filter: invert(20%);
}
